.add-new{
    background-color: #fefefe;
    height: 50px;
    padding-left: 15px;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(71,7,254,0.3);
-moz-box-shadow: 0px 0px 8px -1px rgba(71,7,254,0.3);
box-shadow: 0px 0px 8px -1px rgba(71,7,254,0.3);
}
.btn-todo{
    height: 50px;
    background-color: #fefefe;
    color: #4772fe;
    border: none;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(71,7,254,0.3);
-moz-box-shadow: 0px 0px 8px -1px rgba(71,7,254,0.3);
box-shadow: 0px 0px 8px -1px rgba(71,7,254,0.3);
}
.card{
    border: none;
    border-left: 5px solid #0000;
    margin-top: 50px;
    border-top-left-radius: 30px;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(71,7,254,0.3);
    -moz-box-shadow: 0px 0px 8px -1px rgba(71,7,254,0.3);
    box-shadow: 0px 0px 8px -1px rgba(71,7,254,0.3); 
}
.badge-primary{
    background-color: #e9effe;
    color: #4772fe;
}
.badge-danger{
    background-color: #e9effe;
    color: #f04141;
}
.cat-tools{
    display: none;
}
.cat-tools i {
    margin: 0px 5px;
    cursor: pointer;
}
.category-list .card:hover{
    cursor: pointer;
    background-color: #f8f8f8;
}
.category-list .card:hover .cat-tools{
    display: inline;
}